.login-page {
  form {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
  }
  .login-container {
    button {
      margin-top: 16px;
      width: 100%;
    }
  }
}

@media screen and (min-width: 460px) { 
  .login-page {
    form {
      width: 400px;
      height: 400px;
    }

    .login-container {
      display: flex;
      flex-direction: column;

      button {
        min-width: 180px;
        min-height: 40px;
      }
    }
  }
}