
{{#if session.isAuthenticated}}
  <header>
    {{#link-to 'index'}}
      <img src="/assets/images/logo.png"/>
    {{/link-to}}
    <h1 class="sr-only">Environment dashboard</h1>
  </header>
  <aside>
    <nav>
      <ul>
        {{#link-to 'cameras' tagName='li' class='menu-sensors icon-camera' current-when='cameras camera'}}
          <span class="menu-text">Cameras</span>
        {{/link-to}}
        {{#link-to 'sensors' tagName='li' class='menu-sensors icon-thermometer' current-when='sensors sensor'}}
          <span class="menu-text">Sensors</span>
        {{/link-to}}
        {{#link-to 'api-keys' tagName='li' class='menu-api-keys icon-key' current-when='api-keys api-key'}}
          <span class="menu-text">API keys</span>
        {{/link-to}}
        {{#link-to 'account' tagName='li' class='menu-account icon-user'}}
          <span class="menu-text">User information</span>
        {{/link-to}}
        {{#link-to 'account' tagName='li' class='menu-users icon-users'}}
          <span class="menu-text">Users</span>
        {{/link-to}}
        <li {{action 'invalidateSession' }} class="menu-logout icon-logout">
          <span class="menu-text">Logout</span>
        </li>
      </ul>
    </nav>
  </aside>
{{/if}}
{{outlet}}