{{scroll-top}}
<section class="page">
  <div class="startpage">
    <h1>Welcome {{session.data.authenticated.name}}!</h1>

    <p>This page is still a work in progress and will feature some kind of dashboard.</p>

    {{image-stream}}
  </div>
</section>